name: CI

on: [push]

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest]

    steps:
      - uses: actions/checkout@v1
      - run: mkdir -p path/to/artifact
      - run: echo hello > path/to/artifact/world.txt
      
      # - name: Get the version
      #   id: get_version
        # run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}
        # run: echo ::set-output name=VERSION::$(grep '"version"' package.json | cut -d '"' -f 4)

      # - name: Echo
      #   run: echo ${{ steps.get_version.outputs.VERSION }}

      - name: Set var
        run: |
          echo "(node -p "require('./package.json').version") > MY_VAR"
          echo "::set-env name=action_state::$(cat MY_VAR)"
          echo ${{ env.action_state }}
      
      - name: ENV
        run: echo "::set-env name=action_state::$(cat MY_VAR)"
        # env:
        #   MY_ENV: $(cat MY_VAR)
      
      - name: Get ENV
        run: echo ${{ env.action_state }}


      # - name: 'Get Previous tag'
      #   id: previoustag
      #   uses: "WyriHaximus/github-action-get-previous-tag@master"
      #   env:
      #     GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      # - name: Echo tag
      #   run: echo ${{ steps.previoustag.outputs.tag }}

      # - name: macOS
      #   if: startsWith(matrix.os, 'macOS')
      #   run: echo macOS
        
      # - name: macOS
      #   if: startsWith(matrix.os, 'ubuntu')
        # run: echo ubuntu
      - uses: actions/upload-artifact@v1
        with:
          name: my-artifact-${{ steps.tagName.outputs.tag }}
          path: path/to/artifact
